body {
  background-color: rgb(12, 12, 104);
  place-items: center;
}
.container {
  display: flex;
  border: 2px solid rgb(27, 37, 41);
  border-radius: 40px;
  margin: auto;
  width: 75vw;
  place-items: center;
  background-color: cornsilk;
}
.form-container {
  background-color: cornsilk;
  padding: 25px;
  margin: 25px;
}
#logo-pic {
  background-color: darkorchid;
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
}
img {
  height: auto;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 25px;
  padding-top: 15px;
  margin-top: 15px;
}
#firstnamepair {
  grid-column: 1/2;
  grid-row: 1/2;
}
#lastnamepair {
  grid-column: 2/3;
  grid-row: 1/2;
}
#emailpair {
  grid-column: 1/3;
  grid-row: 2/3;
}
#pwordpair {
  grid-column: 1/2;
  grid-row: 3/4;
}
#pword2pair {
  grid-column: 2/3;
  grid-row: 3/4;
}
#termspair {
  grid-column: 1/3;
  grid-row: 4/5;
}
#submitbtn {
  grid-column: 1/2;
  grid-row: 5/6;
}
form > p {
  grid-column: 1/3;
  grid-row: 6/7;
}
#emailpair > input {
  display: block;
  width: 100%;
}
.textbox {
  height: 35px;
  background-color: rgb(230, 225, 228);
  border-radius: 5px;
  border: 1px solid rgb(178, 179, 180);
}
label {
  font: 12px sans-serif;
  color: rgb(14, 10, 11);
}
